In [1]:
import geopandas as gpd
import urllib
import requests
from urllib.request import urlretrieve

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.11) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
#Bus route and bus stop. 

#ROUTE
busroute_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_METRO_BUS_ROUTE.shp')
#change to long lat form.
busroute_df['geometry'] = busroute_df['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")
busroute_df.head(5)

#STOP
bus_stopdf = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_METRO_BUS_STOP.shp')
#I think we can drop the geometry column since we already have the long lat. 
bus_stopdf.head(5)

#Uncomment this to change these df to csv
#busroute_df.to_csv('../data/curated/busroute.csv', index = False)
#bus_stopdf.to_csv('../data/curated/bus_stop.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,10185,Bonnie View Rd/Maroondah Hwy (Croydon North),-37.780920,145.288145,2,670,POINT (2525382.058 2413301.686)
1,10186,Primrose Rd/Maroondah Hwy (Croydon North),-37.774626,145.292843,2,670,POINT (2525798.041 2413998.960)
2,10187,Exeter Rd/Maroondah Hwy (Croydon North),-37.770446,145.295459,2,670,POINT (2526029.916 2414462.170)
3,10188,Maroondah Golf Park/Maroondah Hwy (Chirnside P...,-37.766346,145.301775,2,670,POINT (2526587.813 2414915.456)
4,10189,Old Melbourne Rd/Maroondah Hwy (Chirnside Park),-37.765276,145.304410,2,670,POINT (2526820.334 2415033.471)

In [3]:
#Regional bus stop and route. 
#route
regbusroute_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_REGIONAL_BUS_ROUTE.shp')
regbusroute_df['geometry'] = regbusroute_df['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")
regbusroute_df.head(5)

#stop
regbusstop_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_REGIONAL_BUS_STOP.shp')
regbusstop_df.head(5)
#regbusroute.to_csv('../data/curated/regbusroute.csv', index = False)
#regbusstop.to_csv('../data/curated/regbusstop.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,ROUTEUSSP,geometry
0,23195,Andrew St/Union St (Kilmore),-37.290492,144.952280,None,POINT (2495769.158 2467764.786)
1,23197,Wellington Square SC/Queen St (Wallan),-37.412990,144.978019,Wallan 1,POINT (2498054.298 2454172.079)
2,23202,Aquamoves/Tom Collins Dr (Shepparton),-36.386027,145.394445,9,POINT (2535387.035 2568051.417)
3,23224,West End Caravan Park/Murray Valley Hwy (Yarra...,-36.022176,145.977047,None,POINT (2588067.354 2608044.554)
4,23225,Jane Rd/Fiona Dr (Yarrawonga),-36.006707,146.025958,None,POINT (2592494.343 2609714.500)

In [4]:
#Train station 
trainst_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_METRO_TRAIN_STATION.shp')

trainst_df.head(5)
#trainst_df.to_csv('../data/curated/trainstdf.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,19970,Royal Park Railway Station (Parkville),-37.781193,144.952301,1,Upfield,POINT (2495798.326 2413308.750)
1,19971,Flemington Bridge Railway Station (North Melbo...,-37.788140,144.939323,1,Upfield,POINT (2494655.617 2412537.079)
2,19972,Macaulay Railway Station (North Melbourne),-37.794267,144.936166,1,Upfield,POINT (2494377.988 2411856.883)
3,19973,North Melbourne Railway Station (West Melbourne),-37.807419,144.942570,1,"Flemington,Sunbury,Upfield,Werribee,Williamsto...",POINT (2494942.888 2410397.549)
4,19974,Clifton Hill Railway Station (Clifton Hill),-37.788657,144.995417,1,"Mernda,Hurstbridge",POINT (2499596.328 2412481.387)

In [5]:
#Train car park

train_carpark = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_TRAIN_CARPARK.shp')
train_carpark['geometry'] = train_carpark['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")
train_carpark.head(5)
#train_carpark.to_csv('../data/curated/train_carpark.csv', index = False)

         STATION  COM_CAPAC                                           geometry
0  Keilor Plains        182  POLYGON ((144.79405 -37.72941, 144.79406 -37.7...
1  Keilor Plains        186  POLYGON ((144.79450 -37.73287, 144.79450 -37.7...
2           None         30  POLYGON ((144.79431 -37.73179, 144.79431 -37.7...
3         Gowrie         18  POLYGON ((144.95862 -37.69975, 144.95867 -37.7...
4         Gowrie         34  POLYGON ((144.95890 -37.69971, 144.95905 -37.6...

In [6]:
#Train station platform 
trainst_plat = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_TRAIN_STATION_PLATFORM.shp')
trainst_plat['geometry'] = trainst_plat['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")
trainst_plat.head(5)

#train_plat.to_csv('../data/curated/train_carpark.csv', index = False)

     STATION PLATFORM                                           geometry
0   Dimboola        1  POLYGON ((142.03168 -36.45303, 142.03166 -36.4...
1     Kerang     None  POLYGON ((143.92485 -35.73358, 143.92440 -35.7...
2     Kerang     None  POLYGON ((143.92410 -35.73241, 143.92452 -35.7...
3     Echuca     None  POLYGON ((144.75319 -36.13052, 144.75323 -36.1...
4  Rochester     None  POLYGON ((144.69826 -36.36257, 144.69876 -36.3...

In [7]:
#regional train station. 
regtrainst_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_REGIONAL_TRAIN_STATION.shp')
regtrainst_df.head(5)
#regtrainst_df.to_csv('../data/curated/regtrainst_df.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,geometry
0,17204,Wallan Railway Station (Wallan),-37.416861,145.005372,POINT (2500475.488 2453742.721)
1,19980,Melton Railway Station (Melton South),-37.703359,144.572216,POINT (2462278.864 2421863.381)
2,19981,Rockbank Railway Station (Rockbank),-37.729261,144.650631,POINT (2469203.843 2419016.944)
3,19982,Deer Park Railway Station (Deer Park),-37.777764,144.772304,POINT (2479941.927 2413666.385)
4,19998,Sunbury Railway Station (Sunbury),-37.579206,144.728165,POINT (2475990.755 2435692.328)

In [8]:
#Tram route and stop. 

#Route
tramrout_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_METRO_TRAM_ROUTE.shp')
tramrout_df['geometry'] = tramrout_df['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")
tramrout_df.head(5)

#Stop
tramstop_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_METRO_TRAM_STOP.shp')
tramstop_df.head(5)
#tramrout_df.to_csv('../data/curated/tramroute.csv', index = False)
#tramstop_df.to_csv('../data/curated/tramstop.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,18730,134-Merribell Ave/Nicholson St (Coburg),-37.744359,144.977728,1,1,POINT (2498037.154 2417397.585)
1,18732,44-Deepdene Park/Whitehorse Rd (Balwyn),-37.811375,145.068671,1,109,POINT (2506046.658 2409957.824)
2,18733,45-Hardwicke St/Whitehorse Rd (Balwyn),-37.811750,145.071785,1,109,POINT (2506320.822 2409915.999)
3,18734,46-Balwyn Cinema/Whitehorse Rd (Balwyn),-37.812242,145.075930,1,109,POINT (2506685.725 2409861.116)
4,18735,47-Balwyn Rd/Whitehorse Rd (Balwyn),-37.812919,145.081524,"1,2",109,POINT (2507178.224 2409785.573)

In [9]:
#Regional coach stop and route. 

coachroute_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_REGIONAL_COACH_ROUTE.shp')
coachroute_df['geometry'] = coachroute_df['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")
coachroute_df.head(5)

coachstop_df = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_REGIONAL_COACH_STOP.shp')
coachstop_df.head(5)

#coachroute.to_csv('../data/curated/coachroute.csv', index = False)
#coachstop.to_csv('../data/curated/coachstop.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,geometry
0,18676,Euroa - Mansfield Rd/Maroondah Hwy (Merton),-36.977321,145.710830,POINT (2563280.787 2502280.227)
1,18677,Euroa-Mansfield Rd/Maroondah Hwy (Merton),-36.977598,145.710668,POINT (2563266.136 2502249.598)
2,18678,Woolshed Rd/Maroondah Hwy (Woodfield),-37.022249,145.806827,POINT (2571784.350 2497227.040)
3,18679,Woolshed Rd/Maroondah Hwy (Woodfield),-37.022554,145.806699,POINT (2571772.661 2497193.293)
4,18680,Phillip St/Bon Cres (Bonnie Doon),-37.026551,145.853708,POINT (2575951.018 2496713.327)

In [10]:
#Skybus route and stop.=
skyb_route = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_SKYBUS_ROUTE.shp')
skyb_route['geometry'] = skyb_route['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")
skyb_route.head(5)

skyb_stop = gpd.read_file('../data/raw/PUBLIC_TRANSPORT/PTV_SKYBUS_STOP.shp')
skyb_stop.head(5)

#skyb_route.to_csv('../data/curated/skyb_route.csv', index = False)
#skyb_stop.to_csv('../data/curated/skyb_stop.csv', index = False)

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,ROUTEUSSP,geometry
0,23173,Skybus Coach Terminal/Spencer St (Melbourne City),-37.816045,144.951975,None,POINT (2495771.546 2409440.627)
1,23175,Skybus Coach Terminal/Spencer St (Melbourne City),-37.816551,144.952586,None,POINT (2495825.364 2409384.497)
2,45511,Melbourne Airport T1 Skybus/Arrival Dr (Melbou...,-37.669331,144.850681,None,POINT (2486827.393 2425714.284)
3,45513,Melbourne Airport T3 Skybus/Arrival Dr (Melbou...,-37.670936,144.848741,None,POINT (2486656.530 2425535.883)